// top20Page.module.scss

.top20PageContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: #f7f9fc; // Soft background for contrast
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.itemCard {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }

  h3 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 10px;
  }
}

.rating {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffc107; // Gold color for rating stars
}

.comment {
  font-style: italic;
  color: #6c757d;
}

.loading {
  font-size: 1.5rem;
  color: #007bff;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
